body {
    background-color: #121213;
    color: #FFF;
}

.nav {
    color: #fff !important;
}

footer {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #7e7e80;
}

footer a {
    text-decoration: none;
    color: #7e7e80;
}

button {
    background-color: rgb(115, 115, 127);
    color: #fff;
    padding: .5rem .7rem;
    margin: .3rem 0 0 0;
    font-family: "Press Start 2P", monospace;
    font-size: .7rem;
    text-shadow: 0 0 .2rem #000;
    cursor: pointer;
    border: 0;
}

#evoCanvas {
    aspect-ratio: 1/1;
    width: min(100vw,90vh);
    height: min(100vw,90vh);
    box-shadow: #fff1 0 0 12px, #fff4 0 0 64px;
    margin-right: 2rem;
    /* border: #fff4 solid 2px; */
}

#evoCanvas.clickable {
    cursor: pointer;
}

#EvoContent {
    display: flex;
}

.Ui {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow: hidden;
    justify-content: space-between;
}

.topUi {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.bottomUi{
    margin-left: 1rem;
    max-height: 40vh;
    overflow: hidden;
}

#chartCanvas {
    border: #7e7e80 solid 1px;
}

.UiMainContainer {
    margin: 0 0 0 16px;
}

#speciesListContainer {
    display: flex;
}
.speciesContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.speciesContainer > .speciesInnerDiv {
    display: flex;
    justify-content: flex-start;
}

.UiContainer {
    box-shadow: 0px 2px 10px #0002;
    margin: 0 0 16px 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    min-width: 264px;
}

.containerFoldable {
    box-shadow: #fff3 0 0 24px inset;
}

.containerFoldable > h4 {
    background-color: #fff3;
    padding: .5rem .7rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

.SpeciesHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.SpeciesHeader > div > input {
    width: 3rem;
    border-radius: 5px;
    background-color: #000;
    color: white;
}

.SpeciesHeader > div {
    align-self: flex-end;
}

.speciesContainer {
    padding: .6rem;
    box-shadow: #fff2 0 0 24px inset;
    border-radius: .3rem;
}

.btnSpawn {
    font-size: .75rem;
    padding: .3rem .6rem;
}