body {
    background-color: #333;
}

#gameContainer {
    display: flex;
    flex-direction: row;
    width: 98vw;
    height: 98vh;
    margin: 1vh 1vw;
}

.btn{
    background-color: #33e;
    color: #fff;
    font-size: 1rem;;
    padding: .5rem;
    margin: .5rem;
}

#resetBtn {
    background-color: #f33;
    color: #fff;
}
#magneticBtn{
    background-color: #3a3;
    color: #fff;
}

#controlls {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #333;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 4rem;
}


#sandCanvas {
    box-shadow: 0 0 0 .5rem rgb(104, 72, 37);
    width: 100%;
    height: 100%;
}

#controlls.hidden{
    display: none;
}

@media only screen and (max-width: 800px) {
    #gameContainer{
        flex-direction: column;
    }

    #controlls {
        padding: 1rem;
        border-radius: 1rem;
        background-color: #333;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: unset;
        left: 0;
        top: unset;
        bottom: 2rem;
    }
}