/* anonymous-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/anonymous-pro-v21-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* press-start-2p-regular - latin-ext_latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/press-start-2p-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/press-start-2p-v14-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* TYPE ---------------------------------- */
h1 {
    font-family: "Anonymous Pro";
    font-size: clamp(min(5vw,5vh),3.5rem,min(12vw,12vh));
    font-weight: 100;
}
h2 {
  font-family: "Press Start 2P";
  font-size: min(6vw,6vh); 
}
p {
  font-family: "Anonymous Pro";
  font-size: 1.15rem;
  line-height: 1.4;
}
/* PAGES ---------------------------------- */
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro";
}

.body1screen {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro";
}

.bodyScroll {

}

#contentCenter {
width: clamp(min(45vw,45vh),600px,min(95vw,95vh));
height: clamp(min(45vw,45vh),600px,min(95vw,95vh));
aspect-ratio: 1/1;
display: flex;
flex-direction: column;
flex-shrink: 0;
align-content: center;
align-items: center;
justify-content: center;
}

#titleHome {
  text-align: center;
  line-height: 0.8;
}

#titleHome > p {
  font-size: clamp(min(4.6vw,2.4vh),1.2rem,min(4vw,4vh));
}

#selectionHome {
  width: clamp(max(20vh,20vw),MAX(60%,90vh),100%);
  padding-top: 24px;
  display: flex;
  justify-content: space-around;
}

.buttonHome {
  background-color: #707070;
  width: 30%;
  color: white;
  aspect-ratio: 1/1;
  box-shadow: 8px 8px 0px #3AAD46;
  border: none;
  text-align: left;
}

.buttonHome h2 {
  padding-left: 10%;
  line-height: 1.1;
  padding-top: 24%;
  text-decoration: none;
  font-size: clamp(calc(min(45vh,50vw)*0.05),1.6rem,calc(min(45vh,50vw)*0.1));
}

.buttonHome.inactive {  
  background-color: #D9D9D9;
  pointer-events: none;
  box-shadow: 8px 8px 0px #A7A7A7;
}

.buttonHome:hover {
  background-color: #363636;
  transition: 0.3s;
}

.buttonProject h2 {
  font-size: clamp(calc(min(45vh,50vw)*0,0375),1.4rem,calc(min(45vh,50vw)*0.075));
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#trackerAccent, #trackerAccent2, #trackerAccent3, #trackerAccent4, #trackerAccent5  {
  position: absolute;
  top: 10%;
  left: 0%;
  height: 25%;
  aspect-ratio: 1/1;
  background-color: #8AE393;
  opacity: 0.2;
  border-radius: 50%;
  z-index: -1;
  transform:translate(-50%,-50%);
}


.spacer {
  height: 35vh;
}

footer {
  display: flex;
  justify-content: center;
}

.headerSticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

/* About ----------------------------------------- */

.containerVert {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#summary {
  display: flex;
  flex-direction: row;
}

#ataglance {
  display: flex;
  flex-direction: column;
}

#titleaboutme {
  text-align: center;
  margin-top: max(10vh,10vw);
  line-height: 0.8;
  padding-bottom: 80px;
}

#headshot {
  width: 30%;
  min-height: 400px;
  background: url(../images/leonrasner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto  0 0;
  box-shadow: 16px 16px 0px #3AAD46;
}

#headerAbout {
  background-color: #707070;
  padding: 4px 24px 4px 24px;
  color: white;
  border: none;
  text-align: left;
}

#headerAbout > h2 {
  font-size: 1.5rem ;
}

.headerAboutSmall {
  background-color: #707070;
  padding: 4px 32px 4px 24px;
  color: white;
  border: none;
  text-align: left;
  width: fit-content;
  margin: 64px 0 0 0;
}

.headerAboutSmall > h2 {
  font-size: 1.5rem ;
}

.buttonAboutmedium {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #707070;
  padding: 8px 32px 8px 24px;
  color: white;
  border: none;
  text-align: left;
  width: 150px;
  margin: 64px 0 0 0;
  cursor: pointer;
  transition: 0.2s;
}

.buttonAboutmedium:hover {
  box-shadow: 8px 8px 0px #3AAD46;
  transition: 0.2s;
}


.AboutRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ataglanceSkill {
  background-color: #8AE393;
  color: white;
  display: flex;
  width: 49%;
  margin: 16px 0 0 0;
}

.ataglanceIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3AAD46;
  width: 2.5rem;
  height: 2.5rem;
  padding: 16px;
  aspect-ratio: 1/1;
}

.ataglanceText {
  margin: 0 0 0 1rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

/*  ---  */
.timeline {
  position: relative;
  margin-top: 80px;
  font-size: 1.1rem;
  line-height: 1.5;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 160px;
  width: 3px;
  height: 100%;
  background-color: #3AAD46;
}

.entry {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.animate-show {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animate-open {
  opacity: 1;
  max-height: 0px;
  padding: 0;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  overflow: hidden;
}

.animate-open.show {
  opacity: 1;
  max-height: 1000px;
  padding: 2rem;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.animate-show.show {
  opacity: 1;
}

.date {
  width: 150px;
  margin: 0 64px 0 0;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #8AE393;
  position: absolute;
  left: 154px;
}

.details {
  flex: 1;
  margin: 0 0 0 24px;
}

.details > ul {
  padding-inline-start: 1.5rem;
}

.iconrow {
  align-self: flex-start;
  margin-top: 1.3rem;
}

.rowCentered {
  display: flex;
  justify-content: center;
}

.SkillDetails {
  padding: 8px;
  margin: 0 0 0 8px;
  width: 24px;
  height: 24px;
}

.Idevelopment {
  width: 24px;
  height: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/IconDevelopment.svg");
}
.Idesign {
  width: 24px;
  height: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/IconDesign.svg");
}
.Imanagement {
  width: 24px;
  height: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/IconManagement.svg");
}
.Iconcept {
  width: 24px;
  height: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/IconConcept.svg");
}
.IChevDown {
  width: 24px;
  height: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/chevronDown.svg");
}

/* -------- */

.fullSkill {
  background-color: #8AE393;
  display: flex;
  width: 100%;
  margin: 16px 0 0 0;
}

.fullIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3AAD46;
  width: 2.5rem;
  height: 2.5rem;
  padding: 16px;
  aspect-ratio: 1/1;
}

.fullText {
  margin: 0 0 0 1rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.skillExtend {
  background-color: #8AE393;
}

.skillInnerContainer {
  margin-left: 3.7rem;
}

.progressRingsContainer{
  display: flex;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 32px 0 16px;
}

.progress-ring {
  margin: 32px 0 16px 0;
}

.progress-ring__circle,
.progress-ring__circle-progress {
  transition: stroke-dashoffset 1s;
  stroke-linecap: butt;
}

.progress-ring__circle {
  stroke-dasharray: 365;
  stroke-dashoffset: 0;
}

.progress-ring__circle-progress {
  stroke-dasharray: 365;
  stroke-dashoffset: 365;
}


/* mobile ------------------------------------------ */

/* @media only screen and (max-width: 900px) {

  #titleHome {
    margin-top: 45vh;
  }
  #selectionHome {
    padding-left: 8px;
    padding-right: 16px;
  }
} */