@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/anonymous-pro-v21-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/anonymous-pro-v21-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
body {
    background-color: #121213;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

#containerMain {
    display: flex;
}

footer a {
    text-decoration: none;
    color: #3a3a3c;
}

footer {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #3a3a3c;
}

#headerWordle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3a3a3c;
    margin: 0 0 0.5rem 0;
    padding: 0.4vh;
}

#headerWordle h1 {
    font-size: clamp(1.5rem,4vh,2.2rem);
    text-align: center;
}

#headerLeft,
#headerRight {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    margin: 0 2rem 0 2rem;
}

#headerCenter {
    font-family: monospace;
    font-weight: bolder;
}

#help {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.4rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #666;
    border-radius: 100%;
    margin: 0 0 0 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.btnRow {
    display: none;
}

.btnClickable {
    display: block;
    background-image: url('/images/EnterKey.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0000;
    height: 3rem;
    width: 2.5rem;
    border: none;
    margin: 0 -3.5rem 0 15px;
}

.btnWait {
    display: block;
    background-image: url('/images/NoEnterKey.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0000;
    height: 3rem;
    width: 2.5rem;
    border: none;
    margin: 0 -3.5rem 0 15px;
}

.btnClickableNext {
    display: block;
    background-image: url('/images/EnterKey.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0000;
    height: 3rem;
    width: 2.5rem;
    border: none;
    margin: 0 -3.5rem 0 15px;
}

.cell {
    width: 6.2vh;
    height: 6.2vh;
    margin: 0.15rem;
    font-size: 3.2vh;
    font-weight: 600;
    border-color: #3a3a3c;
    border-width: 0.25vh;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.clickable {
    border-color: #666;
}

.clickableResultEmpty {
    background-color: none;
}

.clickableResultYes {
    background-color: #538d4e;
}

.clickableResultNo {
    background-color: #3a3a3c;
}

.clickableResultAlmost {
    background-color: #b59f3b;
}

.selected {
    border-color: #538d4e;
}

.outputContainer {
    margin: 3vh 0 0 0;
    text-align: center;
}

#output {
    margin-top: 1rem;
    color: #538d4e;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
}

#btnAnother {
    background-color: #252526;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    border: none;
    color: #666;
    margin: 1rem 0 0 0;
    text-align: center;
    cursor:pointer;
}

/* Virtual Keyboard */

#keyboardContainer {
    display: flex;
    flex-direction: column;
    margin: 0.4vh 0 0 0;
}

.keyRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.key {
    margin: 0.16rem;
    width: clamp(1rem,5.2vh,8.5vw);
    height: clamp(1.5rem,7vh,13vw);
    border-radius: 0.6vh;
    border: none;
    background-color: #818384;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.keySpecial {
    margin: 0.16rem;
    width: clamp(1rem,8.1vh,13vw);
    height: clamp(1.5rem,7vh,13vw);
    border-radius: 5px;
    border: none;
    background-color: #818384;
    color: #ffffff;
    cursor:pointer;
}

/* Switch - https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    margin: 0 0.5rem 0 0.5rem;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #252526;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 4px;
    bottom: 4px;
    background-color: #4e4e50;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #252526;
}

input:focus+.slider {
    box-shadow: 0 0 1px #252526;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.nav {
    color: #fff !important;
}

/* HELP */


#helpSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#helpBox{
    background-color: #555;
    border-radius: .5rem;
    padding: 1rem;
    max-width: 25vw;
    display: block;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-family: monospace;
    font-size: 1rem;
}

#helpBox.show{
    background-color: #555;
    border-radius: .5rem;
    padding: 1rem;
    max-width: 30vw;
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#helpBox::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #555;
    border-width: .7rem 0 .7rem .7rem;
    top: 50%;
    right: -.6rem;
    margin-top: -.7rem;
}

@media only screen and (max-width: 1200px) {
    #headerRight,
    #headerLeft {
        width: auto;
        margin: .2rem; 
    }
    #helpBox{
        max-width: 90vw;
    }
    
    #helpBox.show{

        max-width: 90vw;
    }
    #helpBox::after{
        content: '';
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-color: #555 transparent;
        border-width: 0 .9rem .9rem;
        left: 50%;
        top: -.2rem;
        margin-left: -.7rem;
    }
}

@media only screen and (max-width: 800px) {
    #headerRight,
    #headerLeft {
        display: none;
    }

    header {
        justify-content: center;
    }

    #spanRight,
    #spanLeft {
        display: none;
      }

    #headerRight,
    #headerLeft {
        width: auto;
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {
header h1 {
    font-size: 1.5rem;
}
}