<header>
    <div style="height: 40px; width: 100vw; padding: 0; margin: 0; display: flex; align-items: center; border-bottom: 1px solid rgb(126, 126, 126);">
        <a id="homeLink" href="/" class="nav">Home</a>
        <a id="projectsLink" href="/projects/" class="nav">Projects</a>
        <a id="aboutLink" href="/about/" class="nav">About</a>
    </div>
</header>

<style>
    .headerSticky {
        z-index: 9999;
    }

    .nav {
        font-family: "Anonymous Pro";
        text-decoration: none;
        color: #707070;
        padding: 15px;
    }

    .activeNav {
        color: #000;
        font-weight: 700;
        text-decoration: underline solid #3AAD46 .2rem !important;
    }
</style>